PORT=5000
MONGO_URI=
EMAIL_USER=
EMAIL_PASS=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

CLIENT_URL=

ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=

PAYMONGO_PUBLIC_KEY=
PAYMONGO_SECRET_KEY=

GOOGLE_AUTH_CLIENT_ID=
GOOGLE_AUTH_CLIENT_SECRET=

OPENCAGE_API_KEY=

AGORA_APP_ID=
AGORA_APP_CERTIFICATE=

VITE_API_URL=
VITE_GOOGLE_AUTH_CLIENT_ID=
VITE_CLOUDINARY_CLOUD_NAME=
VITE_OPENCAGE_API_KEY=
