node_modules
node_modules/
dist
dist/
build
build/
.DS_Store
*.log

# Environment files
.env
.env.local
.env.development
.env.development.local
.env.test
.env.test.local
.env.production
.env.production.local
.env.sample
.env.example

# OS files
Thumbs.db
db.sqlite3
